[Unit]
Description=TimeCtrl Deamon Service
BindTo=default.target

[Service]
ExecStart=/bin/bash TimeCtrld.sh
ExecReload=/bin/bash TimeCtrl.sh reload
ExecStop=/bin/bash TimeCtrl.sh kill

[Install]
WantedBy=default.target
